service firebase.storage {
  match /b/{bucket}/o {
    match /profilePictures/{imageID} {
      allow read: if isSignedIn();
      allow write: if isOwner(imageID);
    }

    // Functions

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid + ".png" == userId;
    }
  }
}
